render.yamlservices:
  - type: web
    name: telegram-bot-portfolio
    env: python
    region: frankfurt
    plan: free
    branch: main
    buildCommand: pip install -r requirements.txt
    startCommand: python3 bot.py
    envVars:
      - key: PYTHON_VERSION
        value: 3.11.9
